@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-sm: 575.98px;
  --breakpoint-md: 767.98px;
  --breakpoint-lg: 991.98px;
  --breakpoint-xl: 1199.98px;
  --breakpoint-2xl: 1199.98px;
}

:root {
  --color-primary: #4880FF;
  --color-text: #202224;
}

* {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

input,
select,
textarea {
  outline: none;
}