server:
  port: 8080

app:
  security:
    cookie:
      domain: localhost
      secure: false
      http-only: true
      same-site: Lax
      access-token-max-age: 30d
      refresh-token-max-age: 30d

spring:
  application:
    name: fashion-ecommerce
  datasource:
    url: "jdbc:mysql://localhost:3306/db_ecommerce"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql: TRACE

api:
  prefix: /api/v1 # http://localhost:8080/api/v1

# Cloudinary Configuration
cloudinary:
  cloud-name: "${CLOUD_NAME}"
  api-key: "${API_KEY}"
  api-secret: "${API_SECRET}"

jwt:
  signerKey: "${SIGNER_KEY}"
  access-token-expiration: 36000 # in seconds
  refresh-token-expiration: 2592000 # in seconds
